<% @items.each do |item| %>
    <% if item.status == status %>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <%= link_to item.description, item, class: 'title' %>
                <div class="card-link">
                    <%= link_to fa_icon('edit solid'), edit_item_path(item) %>
                    <%= link_to fa_icon('trash solid'), item, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </div>
        </div>        
    <% end %>
<% end %>

