<tbody>

  <div class="main">
    <h1> TO DO </h1>
    <%= render 'item', status: 'todo' %>
    <h1> DOING </h1>
    <%= render 'item', status: 'doing' %>
    <h1> DONE </h1>
    <%= render 'item', status: 'done' %>
    
    <br>
    <%= link_to fa_icon('plus solid'), new_item_path, class: 'add' %>
  </div>
  
</tbody>


